[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=HAL System Tray Applet
GenericName=Hardware monitoring and configuration applet
Icon=utilities-system-monitor
Exec=hal-applet
Terminal=false
Categories=TrayIcon;System;Monitor;GTK;
StartupNotify=true
NotShowIn=GNOME;KDE;XFCE;LXDE;
X-GNOME-Autostart-enabled=true
